* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

ul {
  list-style-type: none;
}

button {
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.operator-btn {
  background-color: rgb(240, 240, 240);
}

#equals-btn {
  background-color: rgb(14, 78, 205);
  color: white;
}

#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 0fr 1fr;
  padding: 5px;
  border-radius: 5px;
  height: 400px;
  width: 400px;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(200, 200, 200);
}
#calculator button:nth-child(15) {
  grid-row: span 2;
}

#screen {
  font-size: 5rem;
  text-align: end;
}

#expression {
  font-size: 2rem;
  height: 50px;
}

#touch-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  text-align: center;
  max-height: 100%;
}
